body {
  font-family: 'Abel', sans-serif;
  color: black;
  font-size: 30px;
  background-image: url('paw-prints-wallpaper.jpg');
}

ul{
  width: 25%;
  margin: 10px;
  border: black solid 2px;
  padding-left: 0;
  margin-top: 20px;
  background: #9E8F94;



}


li {
  list-style-type: none;
  display: run-in;
  text-align: center;
  padding-bottom: 20px;

}

#cats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

img {
  width: 400px;
  height: 300px;
  border: black solid 2px;
}
